*{margin: 0; padding: 0; box-sizing: border-box;}
html,body{font-family: 'Noto Sans KR'; font-weight: 400; background-color: #fff; font-size: 16px;}
a{text-decoration: none; color: inherit;}
ul, ol, li{list-style-type: none;}
#container{position: relative;}
img {border: 0 none; font-size: 0;line-height: 0; display: block;}
table { border-collapse: collapse; border-spacing: 0; }
input{font-family: inherit; -webkit-appearance: none; -webkit-border-radius: 0;}
h1,h2,h3,h4{color: #222;}
p,div,span,li{font-weight: 300;}
h1,h2,h3,h4,h5,h6,p,div,span,li{letter-spacing: -0.5px;}
h3,h4,h5,h6{font-weight: 500;}